* {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
  }

header {
    font-size: 32px;
    font-weight: bold;
    padding-top: 10px;
}  

#player {
    font-size: 28px;
    text-align: center;
}

#dealer {
    font-size: 28px;
    text-align: center;
}

#playercards, #dealercards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

#playercards img, #dealercards img {
    height: 175px;
    width: 125px;
    border: 1px solid #c3c3c3;
    margin: 1px;
}


 
