* {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
body {
    height: 100vh;
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #CCD4BF;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
  }

header {
    font-size: 32px;
    font-weight: bold;
    padding-top: 10px;
}  

#player {
    font-size: 28px;
    text-align: center;
}

#dealer {
    font-size: 28px;
    text-align: center;
}

#playercards, #dealercards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

#result {
    font-style: italic;
    font-size: 20px;
}

button {
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #f5f3e7;
    padding: 15px;
    min-height: 30px;
    min-width: 110px;
}

button:hover {
    background-color: #424b54;
    color: white;
    transition: 0.5s;
}




 
